sources/*.csv
sources/*.xlsx
sources/*.json
.env/
env/
context/
# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp

# Ignore node_modules for JavaScript/Node.js projects
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore transformation app input and output folders (heavy files)
transformation_app/app_inputs/
transformation_app/app_outputs/

# Ignore Google Sheets service account secrets
extraction_app/sheet-secrets.json